*{
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
}
.nav-bar{
    padding-top: 7px;
    padding-bottom: 7px;
    border-bottom: 3px solid black;
}
.navbar2{
    margin-left:0.3%;
     width:99.5%;
     padding-top: 5px;
     padding-bottom: 5px;
     display: flex;
     border-radius: 35px;
     animation: navi 10.5s infinite;
     animation-play-state: running;
}
@keyframes navi{
    0%{background:linear-gradient(45deg,hotpink,cyan);}
    20%{background:linear-gradient(45deg,red,blue);}
    40%{background:linear-gradient(45deg,purple,orange);}
    60%{background:linear-gradient(45deg,orangered,greenyellow);}
    80%{background:linear-gradient(45deg,gray,black);}
    100%{background:linear-gradient(45deg,lime,yellow);}
    }
.navbar2 .logo p{
    margin-left: 20px;
    padding-left: 5px;
    padding-right: 5px;
    font-size:30px;
    border:3px solid cyan;
    border-radius: 20px;
    width:150px;
    color:  rgb(0, 132, 255);
}
.nav-bar ul{
    display: inline-flex;
    list-style: none;
    padding: 10px 0px;
}
.nav-bar ul a{
    text-decoration: none;
    color:white;
    transition: 0.3s;
}
.nav-bar ul li{
    padding-left:52px;
}
.submnu{
    display: none;
}
.submnu a{
    display: block;
    background:linear-gradient(45deg,cyan,hotpink);
    width: 110px;
    height: 35px;
    padding: 3px 15px;
    text-align: center;
    color: black;
}
.nav-bar ul li:hover .submnu{
    display: block;
    position: absolute;
    margin-top:0px;
    margin-bottom: 3px;
    margin-left:-110px;
    list-style: none;
}
.nav-bar ul li:hover .submnu ul{
    display: block;
    margin: 5px;
}
/*------------------navigations end here-----------------------*/
.back{
    background-color: tomato;
}
.heading{
    text-align: center;
    font-size: 80px;
    color: chartreuse;
    text-shadow: 3px 1px 1px yellow;
}
.container{
    display: flex;
}
.htmlcode{
    margin-left: 10px;
    font-size: 20px;
    font-weight: bold;
}
.csscode{
    margin-left: 91%;
    text-align: right;
    font-size: 20px;
    font-weight: bold;
}
#text{
    height: 100px;
    width: 50%;
    background-color: royalblue;
}
.sec1 h2{
    text-align: center;
    font-size: 80px;
    text-decoration: underline 5px;
    text-shadow: 5px 5px white;
}
/*---------------section ends here------------------------*/
@media(max-width:1024px){
    .navbar2{
        width: 99.5%;
    }
    .csscode{
        margin-left:87%;
    }  
}
@media(max-width:768px){
    .heading{
        font-size: 40px;
    }
    .navbar2 .logo p{
        margin-left: 20px;
        font-size: 25px;
        width:120.5px;
    }
    .nav-bar ul li{
        padding: 0px 45px;
    }
    .htmlcode{
        font-size: 19px;
    }
    .csscode{
        margin-left:85%;
        font-size: 19px;
    }
    .sec1 h2{
        font-size: 40px;
        text-decoration: underline 5px;
        text-shadow: 5px 5px white;
    }
    .sec1 h2{
        font-size: 50px;
        text-decoration: underline 5px;
        text-shadow: 5px 5px white;
    }
}
@media(max-width:425px){
    .navbar2{
        width: 99.7%;
    }
    .navbar2 .logo p{
        font-size: 20px;
        width: 96.5px;
    }
    .nav-bar ul a{
        font-size: 15px;
    }
    .submnu a{
        padding: 3px 10px;
    }

    .logo p{
        font-size: 20px;
        width: 100px;
        padding: 3px 15px;
    }
    .nav-bar ul li{
        padding: 0px 8px;
    }
    .nav-bar ul li:hover .submnu{
        margin-left:-40px;
    }
    .htmlcode{
        font-size:17px;
    }
    .csscode{
        margin-left:75%;
        font-size: 17px;
    }  
    .sec1 h2{
        font-size:30px;
        text-decoration: underline 5px;
        text-shadow: 5px 5px white;
    }
}
@media(max-width:375px){
    .navbar2{
        width: 99.7%;
    }
    .navbar2 .logo p{
        margin-top: 0px;
        padding-bottom: 0px;
        font-size: 18px;
        height: 70%;
        width: 87px;
    }
    navbar2:hover .logo{
        margin-left: 0px;
        transition: 0.5s; 
    }
    .nav-bar ul li{
        padding: 0px 4px;
    }
    .sec1 h2{
        font-size: 25px;
        text-decoration: underline 5px;
        text-shadow: 2px 2px white;
    }
}
@media(max-width:320px){
    .navbar2{
        width: 99.7%;
    }
    .navbar2 .logo {
        display: none;
    }
    .nav-bar ul li{
        padding: 0px 17px;
    }
    .nav-bar ul li:hover .submnu{
        margin-left:-40px;
    }
    .htmlcode{
        font-size: 16px;
    }
    .csscode{
        margin-left:63%;
        font-size: 16px;
    }  
    .heading{
        font-size: 20px;
    }
    .sec1 h2{
        font-size: 30px;
        text-decoration: underline 5px;
        text-shadow: 3px 3px white;
    }
}


































